{
	"parser": "babel-eslint",
	"extends": [
		"@jetbrains",
		"@jetbrains/eslint-config/es6",
		"@jetbrains/eslint-config/node"
	],
	"env": {
		"node": true,
		"browser": true
	},
	"rules": {
		"import/no-commonjs": "off",
		"linebreak-style": [
			"error",
			"windows"
		],
		"quotes": [
			"error",
			"double"
		],
		"consistent-return": "off",
		"no-return-assign": "off",
		"react/jsx-tag-spacing": [
			"warn",
			{
				"beforeSelfClosing": "always"
			}
		],
		"indent": [
			"error",
			"tab"
		],
		"react/jsx-indent-props": [
			2,
			"tab"
		],
		"react/jsx-indent": [
			2,
			"tab"
		]
	}
}
